<img src="https://udearroba.udea.edu.co/imagescourses/2022C343_alprog_V1/banner-colab.png">


## <font color='3E779E'> **Entrada y salida de datos**</font>
Si ejecutas un programa desde una terminal o ventana de comandos, lo que escribes en esa ventana de comandos mientras el programa se está ejecutando se llama **entrada**: el programa puede leer ese texto. La **salida** es la misma ventana y permite que los programas generen texto.

La función print() imprime el texto especificado a través de la ventana de comandos. Antes de especificar su funcionalidad, definiremos los tipos de datos que se pueden utilizar en Python.

## <font color='45adcff'> **Tipos de datos en Python** </font>
"Un tipo de datos de Python no es más que una clasificación de valores de datos similares. Python no declara explícitamente el tipo de datos de una variable. El intérprete de Python interpreta el valor y lo asigna de forma automatica al tipo de datos correcto" (EIP, 2022, párr. 1).

Los tipos de datos en Python nos ayudan a comprender los tipos de operaciones que podemos realizar en un valor dado. Dado que Python es un lenguaje de programación orientado a objetos, Python representa clases de tipos de datos.

## <font color='45adcff'> **¿Cuáles son los tipos de datos principales en Python?** </font>
En programación se usan para almacenar valores específicos, esto incluye cadenas, listas y números. Cada objeto tiene sus propias reglas y comportamiento, por lo que es importante utilizar el tipo de datos correcto para cada objeto.

## <font color='C1C1C1'> **Tipo númerico** </font>
Python 3 trabaja con tres tipos de números:

* **Entero (int)**: devuelve todos los números enteros (positivo, negativo y cero) sin decimales. En Python 3 este tipo no tiene límite de espacio.
* **Real (float)**: se utiliza para representar números reales con decimales. Para implementar esto, por lo general se usa un double de C.
* **Número complejo (complex)**: "se utiliza para representar números complejos que tienen una parte real y una parte imaginaria" (Blog sobre matemáticas, s.f., párr. 15).

In [ ]:
entero = 7
type(entero)

real = 7.2
type (real)

complejo = 1+2j
type(complejo)

complex

## <font color='C1C1C1'> **Tipo cadena de caracteres** </font>
Son las secuencias o cadenas de caracteres. "Este tipo es conocido como *string*, aunque su clase verdadera es *str*" (J2logo, s.f, párr. 49).Representan texto y se pueden definir a través de comillas simples ('') o dobles ("").

Se puede utilizar comillas simples o dobles de forma indistinta. Si necesitas comillas simples en tu cadena, tienes dos opciones: usar comillas dobles para encerrar la cadena o utilizar comillas simples, pero agregas un carácter \ a las comillas simples en la cadena. La situación inversa es similar.

In [ ]:
hello = 'Hola "Mundo"'
hello_2 = 'Hola \'Mundo\''
hello_3 = "Hola 'Mundo'"

print(hello)

print(hello_2)

print(hello_3)

Hola "Mundo"
Hola 'Mundo'
Hola 'Mundo'

A diferencia de otros lenguajes, en Python no existe el tipo 'carácter'. No obstante, se puede simular con un *string* de un solo carácter:

In [ ]:
caracter_a = 'a'
print(caracter_a)

a

## <font color='C1C1C1'> **Tipo booleano** </font>
"La clase que representa los valores booleanos en Python es **bool**. Esta solo se puede instanciar con dos valores/objetos: *true* indica verdadero y *false* indica falso" (J2logo, s.f., párr. 43). Una característica de este lenguaje es que cualquier objeto puede usarse para probar si algo es verdadero o falso. Entonces, cualquier objeto puede usarse como un operando de un *if* o *while* (estructura de control que se definirá más adelante) o una operación booleana. De forma predeterminada, todos los objetos son verdaderos, con dos excepciones:

* Implementa el método __bool__() y devuelve false.
* Ejecutar el método __len__() devuelve 0.

Además, los siguientes objetos/instancias también se consideran falsos:

* None
* False
* El valor cero para cada tipo de número es 0, 0.0, 0j,...
* Secuencias y colecciones vacías: \'\', (), [], {}, set(), range(0)

## <font color='C1C1C1'> **Secuencias** </font>
Son colecciones ordenadas de tipos de datos similares o diferentes. Las secuencias permiten almacenar múltiples valores de manera organizada y eficiente (Tokio School, 2022, párr. 13).
* **String**: cadenas que representan uno o varios caracteres. Se trata de una línea de texto que se encuadra dentro de la etiqueta str (Tokio School, 2022, párr. 14).
* **Listas**: son colecciones ordenadas de elementos que pueden ser de cualquier tipo de datos. Se definen por medio de corchetes ([ ]) y los elementos se separan por comas. Por ejemplo, [1, 2, "tres"] es una lista que contiene un entero, otro entero y una cadena.
* **Tuplas**: son similares a las listas, pero no se pueden modificar después de su creación. Se definen a través de paréntesis (()) y los elementos se separan por comas. Por ejemplo, (1, 2, "tres") es una tupla.

In [ ]:
#Ejemplo de lista
lista1 = []
lista2 = ["a",1,True]

lista3 = list()
lista4 = list("hola")
lista4=  ['h', 'o', 'l', 'a']

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* **Tuplas**: Son similares a las listas, pero no se pueden modificar después de su creación. Se definen utilizando paréntesis (()) y los elementos se separan por comas. Por ejemplo, (1, 2, "tres") es una tupla.

## <font color='C1C1C1'> **Diccionarios** </font>
 Son colecciones no ordenadas de elementos que a los que se accede por medio de claves. Se definen a través de llaves ({ }) y los elementos se definen como pares clave-valor separados por comas.

In [ ]:
a={"estudiante": "Juan", "edad": 25}
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
b==c

True

## <font color='C1C1C1'> **Conjuntos** </font>
 Son colecciones no ordenadas de elementos únicos. Se definen con llaves ({ }) o con el constructor set().

 Las conjuntos en Python eliminan los valores duplicados y conservan solo los valores únicos. Las operaciones como intersecciones y uniones se pueden realizar en uno o más conjuntos.

In [ ]:
{1, 2, 3}

## <font color='45adcff'> **Entrada** </font>
Se usa la función **input()** para entrada directa de información en la celda/consola. Con esta función <font color=red>**siempre**</font> se obtienen datos de tipo cadena de caracteres.
<br>
Sintaxis: $\qquad$ `variable = input(mensaje)`

In [ ]:
nombre = input('Ingrese su nombre: ')
nombre

Ingrese su nombre: juan

'juan'

En este código, la función input() espera la entrada del usuario por la consola y muestra el mensaje "Ingrese su nombre: " para indicarle al usuario qué tipo de entrada de datos se espera. Luego, el valor ingresado se guarda en la variable nombre.

Es importante tener en cuenta que la función input() siempre devuelve una cadena de caracteres, por lo que si se espera una entrada de datos numérica, se debe convertir el valor devuelto a un tipo numérico con la función int() o float(). Por ejemplo:

In [ ]:
edad = int(input("Ingrese su edad: "))

Ingrese su edad: 23

Nota que el siguiente código genera error, ¿por qué? En este caso, la función input() espera la entrada del usuario y devuelve una cadena de caracteres que se convierte a un valor numérico entero con la función int(). El valor entero resultante se guarda en la variable edad.

En resumen, para recibir entradas de datos en Python, se utiliza la función input() y se convierte el valor devuelto a un tipo numérico si es necesario.

Veamos el siguiente ejemplo, con error incluido:

In [ ]:
nombre + 6

TypeError: ignored

In [ ]:
nombre = input('Escriba su nombre:')

In [ ]:
nombre = input('Escriba su nombre:    ')

Escriba su nombre:    Juana

## <font color='45adcff'> **Entrada de datos numéricos** </font>
Para que los datos ingresados sean entendidos como números deberán ser números y luego pasar por una operación llamada **cast**. Esta corresponde a indicar qué tipo de dato se espera y debe usarse para almacenar las variables.

En este caso especificamos que lo que se ingresara será un entero (int):

In [ ]:
edad = int(input('Ingrese su edad:    '))
edad
type(edad)
edad + 5

Ingrese su edad:    23

28

Ahora, específicamos que se ingresará un dato de punto flitante (float):

In [ ]:
T_sat = float(input('Temperatura de saturación [C]:    '))
T_sat

## <font color='45adcff'> **Salida** </font>
Se pueden usar cadenas de caracteres con un prefijo: f'mensaje + variables'.

In [ ]:
nombre = 'Facundo'
edad = 53
f'La edad de {nombre} es {edad} años'

'La edad de Facundo es 53 años'

**Función print()**

De forma similar se usa la función print():

In [ ]:
print('La edad de', nombre, 'es', edad, 'años')
print('La edad de',nombre,'es',edad,'años',sep=' - ')
print('La edad de',nombre,'es',edad,'años',sep='\t\t')
print('La edad de',nombre,'es',edad,'años',sep='\n')

La edad de Facundo es 53 años
La edad de - Facundo - es - 53 - años
La edad de		Facundo		es		53		años
La edad de
Facundo
es
53
años

También es posible construir el texto si al texto estático se le agregan los lugares donde deseamos incorporar información proveniente de variables, esto por medio del formato %.Xf. % indica dónde irá localizada una variable y Xf su formato. Por ejemplo: .4f significa que el número contendrá cuatro cifras significativas.

In [ ]:
pi=3.1416
pi

3.1416

In [ ]:
print('pi = ', pi)

pi =  3.1416

Un resultado similar se logra con los denominados *placeholders *{}:

In [ ]:
nota = 4.00
estudiante = "Maria"

print("La nota de {} es {:.2f}".format(estudiante, nota))

La nota de Maria es 4.00

## <font color='45adcff'> **¿Comó conocer que tipo de datos se están utilizando?** </font>
En Python existen dos funciones que permiten establecer y verificar cuál es el tipo de datos que se está utilizando, ellas son:

* **type()**: toma un objeto como argumento y devuelve su tipo.

* **isinstance()**: toma dos parámetros, un objeto y un tipo. Devuelve *true* si el tipo de objeto se pasa como parámetro; de lo contrario, devuelve *false*.

In [ ]:
from IPython.utils.text import string
# Ejemplos de tipos de datos númericos
num1=2023
print("El tipo de datos de ",num1,' es: ',type(num1))
num2=20.23
print("El tipo de datos de ",num2,' es: ',type(num2))
#Tipos String
txt1="hola mundo"
print("El tipo de datos de ",txt1,' es ',type(txt1))
#utilizando isinstance - Valores verdaderos
print("El tipo de datos de ",num1,' es: ',isinstance(num1,int))
#utilizando isinstance - Valores verdaderos
print("El tipo de datos de ",num1,' es: ',isinstance(num1,float))
print("El tipo de datos de ",num1,' es: ',isinstance(txt1,bool))

El tipo de datos de  2023  es:  <class 'int'>
El tipo de datos de  20.23  es:  <class 'float'>
El tipo de datos de  hola mundo  es  <class 'str'>
El tipo de datos de  2023  es:  True
El tipo de datos de  2023  es:  False
El tipo de datos de  2023  es:  False

## <font color='45adcff'> **Conversión de datos** </font>
Esta es importante ya que permite convertir valores de un tipo a otro de acuerdo con las necesidades establecidas para la ejecución del programa que se esté desarrollando. Se puede dar en los siguientes casos:

**Conversión a entero (int)**: Utiliza la función **int()** para convertir un valor a un entero, en donde se cumplen las siguientes condiciones:
* Si el valor es una cadena de dígitos, se convertirá de forma directa en un entero.
* Si el valor es un número en punto flotante, se truncará hacia abajo para obtener el entero.

Para esta función y las posteriores, si se pasa como parámetro un valor inválido, el intérprete mostrará un error.

In [ ]:
#Convierte la cadena 2023 a un entero 2023
num1 =int("2023")
#Convierte el número con punto flotante 20.23 a un entero 20
num2 = int(20.23)

**Conversión a número flotante (*float*)**: devuelve un *float* a partir de un número o secuencia de caracteres a través de la función **float()**, en donde se cumplen las siguientes condiciones:
* Si el valor es una cadena de dígitos o una cadena que representa un número en punto flotante, se convertirá en un punto flotante.
* Si el valor es un entero, se convertirá en un punto flotante al agregar el punto decimal y ceros.

In [ ]:
# Convierte la cadena "20.23" a un punto flotante: 20.23
num1 = float("20.23")
# Convierte el entero 2023 a un punto flotante: 2023.00
num2 = float(2023)

**Conversión a cadena (str)**: devuelve la representación en cadena de caracteres del objeto que se pasa como parámetro por medio de la funcion **str()**. Esta puede convertir cualquier tipo de dato en una representación en forma de cadena.

In [ ]:
# Convierte la número flotante 20.23 en una cadena "20.23"
num1 = str("20.23")
print (num1)
# Convierte el entero 2023 a un cadena: "2023"
num2 = str(2023)

20.23

**Conversión a booleano (bool)**: devuelve un valor de *true* o *false* con la función bool() para convertir un valor a un booleano. Los valores considerados como *false* son: 0, None, cadenas de texto vacías y contenedores vacíos (listas, tuplas, conjuntos, diccionarios, etc.), cualquier otro valor se considera *true*.

In [ ]:
# Convierte el entero 0 a False
booleano   = bool(2023)
# Convierte la cadena "Hola  mundo" a True
booleano2 = bool("Hola mundo")

**Referencias bibliográficas**

Blog sobre matemáticas. (s.f.). *Descubriendo la potencia imaginaria de i*. [Enlace](https://www.universomasseffect.es/descubriendo-la-potencia-imaginaria-de-i/#!)

EIP. (2022). *Tipos de datos de Python*. [Enlace](https://eiposgrados.com/blog-python/tipos-de-datos-de-python/)

Tokio School. (2022). *¿Qué tipos de datos hay en Python?*. [Enlace](https://www.tokioschool.com/noticias/tipos-de-datos-python/#:~:text=complejo%20en%20Python.-,Secuencias,de%20forma%20organizada%20y%20eficiente)

· Universidad deAntioquia · Ude@ Educación Virtual ·